.allBtn {
    display: flex;
    width: 300px;
    justify-content: space-between;
    margin-left: 10px;
}

.usersBlock {
    height: 250px;
}

.user {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
    margin-left: 10px;
    margin-bottom: 5px;
    background-color: #efefef;
    border-radius: 5px;
}

.name {
    display: inline-block;
    line-height: 15px;
    height: 15px;
    margin: 5px 15px;
    padding: 5px 15px;
    border-radius: 20%;
    background-color: #e8e8e8;
}
.age {
    display: inline-block;
    line-height: 15px;
    margin: 5px 15px;
    padding: 5px 15px;
    border-radius: 20%;
    background-color: #e8e8e8;
}