.container {
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.button {
    display: flex;
    flex-direction: row;
    width: 150px;
    justify-content: space-around;
}
.text {
    font-size: 20px;
    font-weight: bold;
}