@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

.containerMessage {
    position: relative;
}
.message {
    width: 300px;
    border: 3px solid #727272;
    display: inline-block;
    border-radius: 20px;
    position: relative;
    box-shadow: -5px 5px 20px #727272;
    right: 0;
    margin-left: 300px;
    margin-right: 30px;
}
.message::before, .message::after {
    content: '';
    position: absolute;
    right: -23px;
    bottom: 7px;
    border: 20px solid transparent;
    border-bottom: 20px solid #727272;
    transform: scaleY(1.5);
}
.message::after {
    right: -17px;
    bottom: 10px;
    border-bottom: 20px solid white;
    transform: scaleY(1.5);
}
.avatar {
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 0;
}
.nameMessage {
    padding-left: 10px;
    font-family: 'Mulish', sans-serif;
}
.textMessage {
    padding-left: 10px;
    margin-bottom: 25px;
    font-family: 'Mulish', sans-serif;
}
.timeMessage {
    width: 300px;
    text-align: right;
    position: absolute;
    bottom: 5px;
    right: 15px;
    font-family: 'Mulish', sans-serif;
}