.form {
    display: flex;
    flex-direction: row;
}
.span {
    display: block;
    width: 20.4rem;
    height: 4rem;
    border: none;
    border-radius: 1rem;
    font-size: 1.4rem;
    padding-left: 1.4rem;
    box-shadow: .3rem .3rem .6rem #c8d0e7,
    -.2rem -.2rem .5rem #FFFFFF;
    font-family: inherit;
    color: #9baacf;
    line-height: 4rem;
    text-align: center;
    margin: .6rem .77rem .75rem .6rem;
    background: url("./img/clipboard.svg") no-repeat 5% #e8e8e8;
    background-size: 10%;
    -webkit-user-select: none;
}
.span::placeholder { color: #bec8e4; }

.btn {
    width: 5rem;
    height: 4rem;
    margin-top: .6rem;
    margin-left: 1rem;
}
.input {
    color: black;
}