.listCounter {
    list-style: none;
    counter-reset: list;
    margin: .5rem;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}
.elementList {
    width: 20rem;
    position: relative;
    display: inline-block;
    line-height: 2rem;
    height: 2rem;
    margin-left: 1.75rem;
    margin-bottom: .5rem;
    padding-left: 1rem;
    padding-right: .5rem;
    color: #fff;
    white-space: nowrap;
    border-radius: .25rem;
}
.deadlineList {
    position: absolute;
    right: 0;
    display: inline-block;
    line-height: 2rem;
    margin-left: 1.75rem;
    margin-bottom: .25rem;
    padding-left: 1rem;
    padding-right: .5rem;
    color: #fff;
    background-color: transparent;
    white-space: nowrap;
    border-radius: .25rem;
}
.numberList {
    position: absolute;
    left: -2rem;
    top: -.25rem;
    bottom: -.25rem;
    width: 2rem;
    line-height: 2rem;
    border-radius: 50%;
    border: .25rem solid #fff;
    text-align: center;
    color: #fff;
}
.deleteElementList {
    width: 2.5rem;
    white-space: nowrap;
    border-radius: 25%;
    line-height: 1.5rem;
    border: .25rem solid transparent;
    text-align: center;
    margin-left: 1rem;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    padding-top: 0;
    padding-bottom: 0;
}
.deleteElementList:focus {
    outline: none;
}
.filterElementList {
    width: 5rem;
    white-space: nowrap;
    border-radius: 25%;
    line-height: 2rem;
    border: .25rem solid transparent;
    text-align: center;
    margin-left: 1rem;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    padding-top: 0;
    padding-bottom: 0;
}
.filterElementList:focus {
    outline: none;
}
.sortElementList {
    width: 7rem;
    white-space: nowrap;
    border-radius: 25%;
    line-height: 2rem;
    border: .25rem solid transparent;
    text-align: center;
    margin-left: 4rem;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    padding-top: 0;
    padding-bottom: 0;
}
.sortElementList:focus {
    outline: none;
}

.allBtn {
    display: flex;
    flex-direction: row;
}
.form {
    height: 21rem;
}
.btn {
    margin: 0 2rem;
}

