/*  FORM  */
.form {
    margin: 10px;
}

.input {
    width: 20.4rem;
    height: 4rem;
    border: none;
    border-radius: 1rem;
    font-size: 1.4rem;
    padding: 0 1.5rem 0 1rem;
    margin-right: 1rem;
    box-shadow: .3rem .3rem .6rem #c8d0e7,
    -.2rem -.2rem .5rem #FFFFFF;
    background: none;
    font-family: inherit;
    color: #9baacf;
}
.input::placeholder { color: #bec8e4; }
.input:focus { outline: none;
    box-shadow: inset .2rem .2rem .5rem #c8d0e7,
    inset -.2rem -.2rem .5rem #FFFFFF;}

.inputError {
    box-shadow: .3rem .3rem .6rem #ff9595;
}
.inputError::placeholder {color: #ff9595}
.inputError:focus { outline: none;
    box-shadow: inset .2rem .2rem .5rem #ff9595,
    inset -.2rem -.2rem .5rem #FFFFFF;}
