@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

.input {
    border: transparent;
    border-bottom: 3px solid black;
    border-radius: 25%;
    outline: none;
    font-family: 'Mulish', sans-serif;
    font-size: 2rem;
}
.input:focus {
    outline: none;
}
.error {
    border: transparent;
    border-bottom: 3px solid red;
    border-radius: 25%;
    outline: none;
    font-family: 'Mulish', sans-serif;
    font-size: 2rem;
}
.errorText {
    height: 2rem;
    color: red;
    font-family: 'Mulish', sans-serif;
    font-size: 1rem;
    margin-left: 10rem;
}
.addUser {
    width: 3rem;
    height: 3rem;
    white-space: nowrap;
    border-radius: 25%;
    line-height: .5rem;
    border: .25rem solid transparent;
    text-align: center;
    vertical-align: center;
    background-color: #727272;
    margin-left: .25rem;
    padding-top: 0;
    font-family: 'Mulish', sans-serif;
    font-size: 3rem;
}
.addUser:focus {
    outline: none;
}
.numberUsers {
    margin-left: 5rem;
    font-family: 'Mulish', sans-serif;
    font-size: 2rem;
}

